
body {
    background-color: pink;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    background-color: #970d0d;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #c90808;
}

.close {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 8px;
    border: 3px solid black;
    background-color: #e7e7e7;
}
.close:hover{
    background-color: #970d0d;
}

dialog{
    text-align: center;
    padding: 50px;
    border: 5px solid rgb(104, 0, 17);
}
#reply {
    text-align: center;
    margin-top: 20%;
    visibility: hidden;
}
